<!DOCTYPE=html>
<html>
<head>
    <title>
            Sample Images
    </title>
</head>
<body>
    <h1>Click on an image to zoom in so you can take a photo :)</h1>

    {% for img in images %}
        <h2>Image name: {{ img }}</h2>
        <img src="{{url_for('static', filename=img)}}" />
    {% endfor %}

    <script> 
        const images = document.getElementsByTagName('img'); 
        let isOriginalSize = true;
        for (let i = 0; i < images.length; i++) { 
            const img = images[i];

            img.addEventListener('click', function() { 
                if (isOriginalSize) { 
                        this.style.width = '700px'; 
                        this.style.height = '700px'; 
                        isOriginalSize = false; 
                } else { 
                        this.style.width = 'auto'; 
                        this.style.height = 'auto'; 
                        isOriginalSize = true; 
                } 
            }); 
        }
    </script>
</body>
</html>
