[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
xrai-engine = {file = "xrai_engine/xrai_engine-0.0.60.tar.gz"}
pyopenssl = "*"
opencv-python = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dateutil = "*"
jwt = "*"
flask-bcrypt = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.10"
