[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
xrai-engine = {file = "xrai_engine/xrai_engine-0.0.58.tar.gz"}
pyopenssl = "*"
opencv-python = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
